.cardBottom {
    padding: 12px;
}

.gameImage {
    width: 192px !important;
    z-index: 9;
    right: -18px;
    bottom: -11px;
    position: fixed;
    height: 100%;
}

@media (max-width: 450px) {
    .gameImage {
        bottom: -14px;
        right: -1px;
        width: 154px!important;
    }
}