.imageList {
    grid-template-columns: repeat(4, 1fr) !important;
    gap: 18px !important;
    width: 800px !important;
    margin-top: 20px !important;
}

@media (max-width: 375px) {
    .imageList {
        grid-template-columns: repeat(1, 1fr) !important;
        gap: 120px !important;
        width: 280px !important;
    }
}

@media (min-width: 376px) and (max-width: 772px) {
    .imageList {
        grid-template-columns: repeat(2, 1fr) !important;
        width: 380px !important;
    }
}