.lesson {
    padding: 3rem  0;
}

.lessonTitle {
    width: 58%;
    margin-bottom: 25px;
}

.video {
    width: 100%;
    display: inline-block;
    outline: none;
    margin-bottom: 20px;
    border-radius: 5px;
}

.questionImage {
    display: block;
    margin: 27px auto 0px;
    transform: translateX(-17%);
}

@media (max-width: 570px) {
    .lessonTitle {
        width: 100%;
    }

    .questionImage {
        transform: translateX(0px);
}
}
