:root {
  --primary-color: #6E41E2;
  --secondry-color: #FF0000;
}

.primary_text {
  color: var(--primary-color) !important;
}

.secondry_text {
  color: var(--secondry-color) !important;
}

body {
  background-color: #FAFAFA;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.primaryButton {
  background-color: var(--primary-color) !important;
  color: #fff !important;
  padding: 8px 17px !important;
  border-radius: 4px !important;
  text-transform: capitalize !important;
}

.secondryButton {
  background-color: #fff !important;
  color: var(--primary-color) !important;
  padding: 10px 20px !important;
  border-radius: 4px !important;
  text-transform: capitalize !important;
}

.swiperItem {
  width: 400px !important;
}

@media (max-width:450px) {
  .swiperItem {
    width: 320px !important;
  }
}

.Content {
  display: flex;
  padding: 2rem 6rem 2rem;
  width: 100%;
}

