:root {
  --primary-color: #6E41E2;
  --secondry-color: #FF0000;
}

.primary_text {
  color: var(--primary-color) !important;
}

.secondry_text {
  color: var(--secondry-color) !important;
}

body {
  background-color: #FAFAFA;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.primaryButton {
  background-color: var(--primary-color) !important;
  color: #fff !important;
  padding: 8px 17px !important;
  border-radius: 4px !important;
  text-transform: capitalize !important;
}

.secondryButton {
  background-color: #fff !important;
  color: var(--primary-color) !important;
  padding: 10px 20px !important;
  border-radius: 4px !important;
  text-transform: capitalize !important;
}

.swiperItem {
  width: 400px !important;
}

@media (max-width:450px) {
  .swiperItem {
    width: 320px !important;
  }
}

.Content {
  display: flex;
  padding: 2rem 6rem 2rem;
  width: 100%;
}

.checkboxItem span.MuiFormControlLabel-label {
  width: 69px;
  height: 56px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
  border-radius: 4px;
}

@media (max-width: 360px) {
  .checkboxItem span.MuiFormControlLabel-label {
      width: 59px;
  }
}

.checkboxItem span.css-hyxlzm.css-hyxlzm {
  display: none !important;
}

.activeCheckBox span.MuiFormControlLabel-label {
  background-color: var(--primary-color) !important;
  color: #fff !important;
}

.imageItem {
  cursor: pointer;
}

.colorItem {
  width: 160px;
  height: 162px !important;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid #222;
}

.imageItem.correct img, .colorItem.correct img  {
  border: 2px solid var(--primary-color);
  border-radius: 20px;
}


.imageItem.wrong img, .colorItem.wrong img {
  border: 2px solid var(--secondry-color);
  border-radius: 20px;
}

